.ratingWrapper {
  grid-area: other;
  border: red solid 2px;
}

.gradeList {
  display: flex;
  border: blue solid 2px;
  align-items: center;
  justify-content: space-evenly;
}

.grade {
  color: lightgrey;
  background: transparent;
  border: none;
  width: 2.5rem;
  font-size: 2rem;
}

.selected {
  text-shadow: 0px 0px 7px lightblue;
  color: white;
}
